@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --primary-color: #73d700;
    --secondary-color: #ffad00;
    --secondary-color-dark:#c68600;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}